/* Grayscale Design palette: https://grayscale.design/app?lums=90.36,76.39,62.76,47.92,34.81,23.61,17.10,11.28,5.82,1.74,0.69&palettes=%230a0b0d,%23F59653,%2353B4F5&filters=0%7C0,0%7C0,0%7C0&names=surface,accent,primary&labels=,, */
:root {
    --grayscale-50: #f4f4f4;
    --grayscale-100: #e2e2e2;
    --grayscale-200: #d0d0d0;
    --grayscale-300: #b8b8b8;
    --grayscale-400: #9f9f9f;
    --grayscale-500: #858585;
    --grayscale-600: #737373;
    --grayscale-700: #5e5e5e;
    --grayscale-800: #444444;
    --grayscale-900: #242424;
    --grayscale-950: #141414;

    --surface-50: #f3f4f5;
    --surface-100: #e0e3e7;
    --surface-200: #ccd0d7;
    --surface-300: #b3b8c4;
    --surface-400: #98a0af;
    --surface-500: #7b869a;
    --surface-600: #697388;
    --surface-700: #565f70;
    --surface-800: #3e4551;
    --surface-900: #20242a;
    --surface-950: #121418;

    --accent-50: #fef2e9;
    --accent-100: #fcddc6;
    --accent-200: #f9c5a0;
    --accent-300: #f6a66c;
    --accent-400: #f3802f;
    --accent-500: #da620d;
    --accent-600: #bc550b;
    --accent-700: #9a4609;
    --accent-800: #703307;
    --accent-900: #3c1b03;
    --accent-950: #220f02;

    --primary-50: #e9f6fe;
    --primary-100: #c7e7fc;
    --primary-200: #a2d6fa;
    --primary-300: #6fc0f7;
    --primary-400: #34a7f3;
    --primary-500: #0d8ade;
    --primary-600: #0b77c0;
    --primary-700: #09629e;
    --primary-800: #074773;
    --primary-900: #04263c;
    --primary-950: #021623;
}